.tablaContainer{
    display: flex;
    /* height: 31rem; */
    flex-grow: 1;
    min-width: 31rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.tablaContainer::-webkit-scrollbar {
    display: none;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: none;
    height: max-content;
    max-height: 30.375rem;
}
th{
    background-color: #353535;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    max-height: 3rem;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td{
    color: #000;
    font-size: 1rem;
    height: 2.5rem;
    max-height: 2.5rem;
    padding: 0.5rem;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #e5e5e5; 
}
.col-xxs{
    width: 6rem !important;
    max-width: 6rem !important;
    min-width: 6rem !important;
}
.col-xs{
    width: 10rem !important;
    max-width: 10rem !important;
    min-width: 10rem !important;
    padding-left: 1rem;
}
.col-s{
    padding-left: 1rem;
    width: 15rem !important;
    max-width: 15rem !important;
    min-width: 15rem !important;
}
.col-auto{
    padding-left: 1rem;
    max-width: 40rem;
}
.col-start{
    text-align: start;
    word-break: break-all;
    padding-left: 1rem;
}
td:not(:last-child){
    border-right: 0.125rem solid #fff;
}
thead tr, tbody tr:not(:last-child){
    border-bottom: 0.25rem solid #fff;
}
th:first-child, td:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
th:last-child, td:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.Acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}
.IcoFrm{
    cursor: pointer;
}